/*  ------------------------------------------
    Styles
    ------------------------------------------  */
.container { @include container($width: 100%, $debug: true);}
//.container {  background: susy-svg-grid() no-repeat scroll;}
.cfx  { @include clearfix;  }
.debug  { outline: 1px solid red; }
.clear  { clear: both;  }
.right  { float: right; }
.left { float: left;  }
.center {  text-align: center; }
.full-width {  width: 100%; }

//.half {
//  width: span(6);
//  &:nth-last-child(even) {
//    width: span(6 last);
//  }
//}
::selection {
  background-color: rgba(255, 139, 61, .5);
  color: #13323c;
  text-shadow: none;
}

.title {
  font-size: 60px;
  color: $primary-color;
}

