/* ==========================================================================
    Variables
    by: microTechna.com
   ========================================================================== */

/*
sm 0 - 540
md 541 - 768
lg 769 - 992

For mobile first design,
minwidth(541) for the table,
minwidth (769) for  the desktop.
*/

/**
Mobile first design:
default grid column 4, then 8 and 12

Implementation: plz see the class navbar.burger & menu
 */
/*  ------------------------------------------
    Breakpoints
    ------------------------------------------  */
//$sm: 0px;
$md: 541px;
$lg: 769px;

//$md: (
//        'min-width': 541px,
//        'columns': susy-repeat(8),
//        'gutters': 0.25,
//);
//
//$lg: (
//        'min-width': 769px,
//        'columns': susy-repeat(12),
//        'gutters': 0.25,
//);

/*  ------------------------------------------
    Font stacks
    ------------------------------------------  */
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
//@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$roboto-helveticNue: "Roboto", Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-monospace: Georgia, serif;
/*  ------------------------------------------
    Website Theme Colors
    ------------------------------------------  */
// Brand Colors
$primary-color: #0d7fa5;
$secondary-color: #e2127a;
$tertiary-color: #f1f075;
$accent-color: #009688;
// Grays
$dark: #3b4042;
$gray: #555b5e;
$light: #dedede;
$white: #fff;

// Text Black
$text: rgba(0,0,0,0.87);
$secondary-text: rgba(0,0,0,0.54);
$icons: rgba(0,0,0,0.54);
$disabled: rgba(0,0,0,0.26);
$hint-text: rgba(0,0,0,0.26);
$dividers: rgba(0,0,0,0.12);
$error-text: #DC322F;
$success-text: #2ECC40;
$notify-text: #586E75;

//White
/*
$text: #ffffff;
$secondary-text: rgba(255,255,255,0.7);
$icons: ffffff;
$disabled: rgba(255,255,255,0.3);
$hint-text: rgba(255,255,255,0.3);
$dividers: rgba(255,255,255,0.12);
*/

// components colors
$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
