/* ==========================================================================
    Variables
    by: microTechna.com
   ========================================================================== */

/*
sm 0 - 540
md 541 - 768
lg 769 - 992

For mobile first design,
minwidth(541) for the table,
minwidth (769) for  the desktop.
*/

/**
Mobile first design:
default grid column 4, then 8 and 12

Implementation: plz see the class navbar.burger & menu
 */
/*  ------------------------------------------
    Breakpoints
    ------------------------------------------  */
//$sm: 0px;
$md: 541px;
$lg: 769px;

//$md: (
//        'min-width': 541px,
//        'columns': susy-repeat(8),
//        'gutters': 0.25,
//);
//
//$lg: (
//        'min-width': 769px,
//        'columns': susy-repeat(12),
//        'gutters': 0.25,
//);


